@CHARSET "US-ASCII";

@font-face{
	font-family:"Card-Characters";
	src:url("../font/CARDC___.eot?") format("eot"),
		url("../font/CARDC___.woff") format("woff"),
		url("../font/CARDC___.ttf") format("truetype"),
		url("../font/CARDC___.svg#CardCharacters") format("svg");
	font-weight:normal;
	font-weight: 200;
    font-style: normal;
}
