<!DOCTYPE html>
<html lang="en" ng-app="CardGames">
  <head>
    <title>AmaGames | Cards</title>
    <style>
      body {
        padding: 0px;
        margin: 0;
      }

      h1, h2, p {
        font-family: 'Raleway', sans-serif;
      }
    </style>

    <link href="../css/card.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div align="center" class="container">
      <div ng-controller="CardGamesController">
        <h1> {{CardGames.name}} </h1>
      </div>

      <canvas id="canvas" width="1040" height="680"></canvas>
      <div>
          <p id="statusMessage"></p>
      </div>
    </div>

    <script src="../bower_components/fabric.js/dist/fabric.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src="../build/js/scripts.js"></script>
  </body>
</html>
